<md-card class="card">
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <md-select>
      <md-option>Ace</md-option>
      <md-option>2</md-option>
      <md-option>3</md-option>
      <md-option>4</md-option>
      <md-option>5</md-option>
      <md-option>6</md-option>
      <md-option>7</md-option>
      <md-option>8</md-option>
      <md-option>9</md-option>
      <md-option>10</md-option>
      <md-option>Jack</md-option>
      <md-option>Queen</md-option>
      <md-option>King</md-option>
    </md-select>
    <md-select>
      <md-option>Hearts</md-option>
      <md-option>Clubs</md-option>
      <md-option>Diamonds</md-option>
      <md-option>Spades</md-option>
    </md-select>
  </md-card-content>
</md-card>
<md-card class="card">
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <md-select>
      <md-option>Ace</md-option>
      <md-option>2</md-option>
      <md-option>3</md-option>
      <md-option>4</md-option>
      <md-option>5</md-option>
      <md-option>6</md-option>
      <md-option>7</md-option>
      <md-option>8</md-option>
      <md-option>9</md-option>
      <md-option>10</md-option>
      <md-option>Jack</md-option>
      <md-option>Queen</md-option>
      <md-option>King</md-option>
    </md-select>
    <md-select>
      <md-option>Hearts</md-option>
      <md-option>Clubs</md-option>
      <md-option>Diamonds</md-option>
      <md-option>Spades</md-option>
    </md-select>
  </md-card-content>
</md-card>
<md-card class="card">
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <md-select>
      <md-option>Ace</md-option>
      <md-option>2</md-option>
      <md-option>3</md-option>
      <md-option>4</md-option>
      <md-option>5</md-option>
      <md-option>6</md-option>
      <md-option>7</md-option>
      <md-option>8</md-option>
      <md-option>9</md-option>
      <md-option>10</md-option>
      <md-option>Jack</md-option>
      <md-option>Queen</md-option>
      <md-option>King</md-option>
    </md-select>
    <md-select>
      <md-option>Hearts</md-option>
      <md-option>Clubs</md-option>
      <md-option>Diamonds</md-option>
      <md-option>Spades</md-option>
    </md-select>
  </md-card-content>
</md-card>
<md-card class="card">
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <md-select>
      <md-option>Ace</md-option>
      <md-option>2</md-option>
      <md-option>3</md-option>
      <md-option>4</md-option>
      <md-option>5</md-option>
      <md-option>6</md-option>
      <md-option>7</md-option>
      <md-option>8</md-option>
      <md-option>9</md-option>
      <md-option>10</md-option>
      <md-option>Jack</md-option>
      <md-option>Queen</md-option>
      <md-option>King</md-option>
    </md-select>
    <md-select>
      <md-option>Hearts</md-option>
      <md-option>Clubs</md-option>
      <md-option>Diamonds</md-option>
      <md-option>Spades</md-option>
    </md-select>
  </md-card-content>
</md-card>
<md-card class="card">
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <md-select>
      <md-option>Ace</md-option>
      <md-option>2</md-option>
      <md-option>3</md-option>
      <md-option>4</md-option>
      <md-option>5</md-option>
      <md-option>6</md-option>
      <md-option>7</md-option>
      <md-option>8</md-option>
      <md-option>9</md-option>
      <md-option>10</md-option>
      <md-option>Jack</md-option>
      <md-option>Queen</md-option>
      <md-option>King</md-option>
    </md-select>
    <md-select>
      <md-option>Hearts</md-option>
      <md-option>Clubs</md-option>
      <md-option>Diamonds</md-option>
      <md-option>Spades</md-option>
    </md-select>
  </md-card-content>
</md-card>

<button md-button class="center-guess">Guess</button>
