html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color:#2e353d;
  padding-top:25px;
}
.container {
    padding-left: 275px;
}

