<!--<div *ngFor="let card of cards">
  {{card.number}}   {{card.shape}}  {{card.color}}
</div>-->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <select class="form-control">
          <option value=""></option>
          <option value="">How many</option>
          <option value="">What is the</option>
        </select>
      </div>
      <div class="col-xs-3">
        <select class="form-control">
          <option value=""></option>
          <option value="">Black Cards</option>
          <option value="">Odd Value Cards</option>
          <option value="">Clubs</option>
          <option value="">Cards</option>
        </select>
      </div>
      <div class="col-xs-3">
        <p>dynamic text/dropdowns here</p>
      </div>
      <div class="col-xs-3">
        <button type="button" class="btn btn-primary pull-right">Ask</button>
      </div>
    </div>
  </div>
</footer>