<form>
  <md-select placeholder="How many">
    <md-option>Black Cards</md-option>
    <md-option>Red Cards</md-option>
    <md-option>Hearts</md-option>
    <md-option>Clubs</md-option>
    <md-option>Diamonds</md-option>
    <md-option>Spades</md-option>
    <md-option>Even Value Cards</md-option>
    <md-option>Odd Value Cards</md-option>
    <md-option>Face Cards</md-option>
    <md-option>Cards</md-option>
  </md-select>
  <md-select placeholder="are">
    <md-option>></md-option>
    <md-option>>=</md-option>
    <md-option><</md-option>
    <md-option><=</md-option>
    <md-option>=</md-option>
  </md-select>
  <md-select placeholder="select">
    <md-option>Ace</md-option>
    <md-option>2</md-option>
    <md-option>3</md-option>
    <md-option>4</md-option>
    <md-option>5</md-option>
    <md-option>6</md-option>
    <md-option>7</md-option>
    <md-option>8</md-option>
    <md-option>9</md-option>
    <md-option>10</md-option>
    <md-option>Jack</md-option>
    <md-option>Queen</md-option>
    <md-option>King</md-option>
  </md-select>
  <md-select placeholder="What is the">
    <md-option>sum of all cards</md-option>
    <md-option>product of all cards</md-option>
  </md-select>
  <button md-button>Ask</button>
</form>