<md-grid-list cols="12" rowHeight="78px">
  <md-grid-tile
    [colspan]="3"
    [rowspan]="8"
    [style.background]="'lightblue'">
    <app-score></app-score>
  </md-grid-tile>
  <md-grid-tile
    [colspan]="9"
    [rowspan]="4"
    [style.background]="'lightgreen'">
    <app-card></app-card>
  </md-grid-tile>
  <md-grid-tile
    [colspan]="9"
    [rowspan]="3"
    [style.background]="'black'">
    <app-console></app-console>
  </md-grid-tile>
  <md-grid-tile
    [colspan]="9"
    [rowspan]="1"
    [style.background]="'#DDBDF1'">
    <app-question></app-question>
  </md-grid-tile>
</md-grid-list>